.Contact-Info {
    background-color: #F2F2F0;
    padding: 20px;
    padding-bottom: 100px;
}


.Contact-Info * {
    /* padding-top: 10px;
    font-weight: 500; */
    line-height: 1.5;
    text-align: left;
}