.Contact-Info {
    background-color: #F2F2F0;
    padding: 20px;
}

.Contact-Info * {
    line-height: 1.5;
    text-align: left;
}

.Contact-Info a {
    color: black;
}

@media (min-width: 860px) {

    .Contact-Info p,
    .Contact-Info h3 {
        max-width: 80%;
        margin: 0 auto;
    }
}