/* .Contact-Form-Content {
} */

/* .Contact-Form-Content input {
    outline: none;
    border: none;
} */

@media (min-width: 860px) {

    .Contact-Form-Container {
        max-width: 80%;
        margin: 0 auto;
    }

    .Contact-Form-Content p {
        margin-left: 0
    }
}