.BuildingTechnique-Content {
    background-color: #F2F2F0;
    padding: 20px;
    line-height: 1.5;
    text-align: left;
}

/* .BuildingTechnique-Content h3 {
    padding-top: 10px;
    padding-bottom: 10px;
} */