* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

/* .App-Container {
    background-color: #e4e8da;
} */

body {
    text-align: center;
    background-color: #e4e8da;
    /* background-color: #F2F2F0; */
}