* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* outline: 1px solid red; */
}

body {
    text-align: center;
    background-color: #e4e8da;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

@media (max-height: 430px) and (orientation: landscape) {
    body {
        margin: 0;
        padding: 0;
    }

    .Navbar-Container {
        padding-left: 0;
        padding-right: 0;
    }
}