.Facilities-Content {
    background-color: #F2F2F0;
    padding: 20px;
    line-height: 1.5;
    /* margin-bottom: 20px; */
    text-align: left;
}

@media (min-width: 860px) {

    .Facilities-Content p,
    .Facilities-Content h3 {
        max-width: 80%;
        margin: 0 auto;
    }
}